<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
<ion-content>
  <ion-icon name="close-circle-outline" class="closeBtn"
  (click)="closeModal()"></ion-icon>
  <div class="ion-padding">
    <div class="logo">
      <img src="../../assets/img/2.png" alt="logo">
    </div>
    <div class="hrPosition">
      <hr class="hrColor">
      <h5 class="loginTitle">S'identifier</h5>
      <hr class="hrColor">
    </div>
    <form class="ion-padding">
      <div class="wrap-input">
        <input class="input" type="text" name="email" placeholder="Adresse email">
      </div>

      <div class="wrap-input">
        <input class="input" type="password" name="password" placeholder="Mot de passe">
      </div>
    </form>
    <div class="container-form-btn">
      <button class="form-btn custom-font">
        CONNEXION
      </button>
    </div>
  </div>
 <div class="footer_text">
  <ion-subtitle>
    Pas encore de compte? <a href="" class="btn_href">Inscrivez-vous ici</a>
  </ion-subtitle>
 </div>
</ion-content>
